<h2>Terms of use</h2>
<p>Welcome to Duloc<br />
such a perfect town<br />
Here we have some rules let us lay them down<br />
Don't make waves<br />
Stay in line<br />
and we'll get along fine<br />
Duloc is a perfect place<br />
Please keep off of the grass<br />
shine your shoes<br />
wipe your...face<br />
Duloc is<br />
Duloc is<br />
Duloc is a perfect place</p>